<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initiat-scale=1.0">
        <title>EcoChic <br>Revolutionizing Fashion Sustainability </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/voiceControl.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <button id="start-button">Start Voice Control</button>
        </div>
    </body>
</html>