<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Meet Our Team</h1>
        <ul>
            {% for member in members %}
                <li>
                    <img src="{{ member.photo.url }}" alt="{{ Lorine Adhiambo }}">
                    <p>{{ Lorine Adhiambo }}</p>
                    <p>{{ Founder }}</p>
                    <p>{{ Lorine Adhiambo is the founder of EcoChic, a fashion brand dedicated to sustainability and style.
                        <br> With a passion for eco-friendly practices, Miss Lorine leads the company in offering ethically sourced and fashionable clothing for the modern consumer. }}</p>
                </li>

                <li>
                    <img src="{{ member.photo.url }}" alt="{{ Arielle Doreen }}">
                    <p>{{ Arielle Doreen}}</p>
                    <p>{{ Designer }}</p>
                    <p>{{ Arielle Doreen is a talented designer at EcoChic, blending sustainability with modern fashion.<br>
                         Arielle creates stylish, ethically sourced clothing that embodies both innovation and environmental responsibility. }}</p>
                </li>

                <li>
                    <img src="{{ member.photo.url }}" alt="{{ Victor Jared }}">
                    <p>{{ Rizwan Awuor }}</p>
                    <p>{{ Photographer }}</p>
                    <p>{{ Victor Jared is a skilled photographer at EcoChic, capturing the essence of sustainable fashion.<br>
                         With a keen eye for detail and a passion for eco-friendly practices, we bring the beauty of ethical fashion to life through stunning visuals. }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
